html,body {min-height: 100vh}
body {
    background-color:rgb(253,123,1);
    display:grid;
    grid-template-rows: auto 1fr auto;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
  width: 100px;
  transition: transform 1s;
}
.logo:hover{
  transform:rotate(360deg);
}
.main-header{
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-color:rgb(50,61,67);
}

.main-navigation{
  justify-self:end;
  align-self:center;
  display:flex;
}
.main-navigation a{
  color:white;
  display: block;
  padding:12px;
  text-decoration: none;
}
.main-navigation a:hover {
  background-color:rgb(36, 41, 44) ;
}
.context{
  margin:auto 50px;
}
.banner {
  min-height:60vh;
  background-color: orangered;
  display:grid;
  place-items:center;
  background-image: url('images/download.jpg');
  background-size:cover;
}
.banner h1 {
  font-size:3.2em;
  color:white;
  text-shadow:3px 3px 1px black;
  background-color:rgba(0,0,0,0,5);
}
.main-footer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.copyright {
  grid-column-start: 1;
  grid-row-start: 2;
}
.social-nav {
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: end;
}
.social-nav a{
  color:black;
  text-decoration: none;
  display:inline-block;
  font-size: 22px;
  padding:6px;
}
.social-nav a:hover {
  color:white;
}